{% extends 'base.html' %}


  {% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Illicit</h1>
            <span class="subheading">A blogging platform based on Django</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello, <br>You have landed on Illicit...which is forbidden by law (eh...quite literally)</p>
        <p>But do not fear...for everything is fair on localhost!</p>
        <p>Now go and <a href="#">SIGNUP</a></p>
        <p><br><br>(or you can <a href="#">LOGIN</a>...like smart guys do)</p>
      </div>
    </div>
  </div>

{% endblock %}
